<header class="header">
  <h1 class="headline">Chess Store</h1>
  <ul class="header-subnav">
    <li><%= link_to "Items", items_path %></li>
    <li><%= link_to "Purchases", purchases_path %></li>
    <li><%= link_to "Prices", item_prices_path %></li>
  </ul>
</header>



