<% if ItemPrice.count == 0 %>
    <h1>N/A</h1>
<% else %>
    <br><h3 class="center-title">Current Item Prices</h3>
    <hr>
    <%if @active_items.empty? %>
        <h4 class="center-title">No current item prices</h4>
    <% else %>
        <table class="center-datagrid">
            <thead class="header-datagrid">
                <th>Item</th>
                <th>Price</th>
            </thead>
        <% for item in @active_items %>
            <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
            <td><%= link_to item.name, item_path(item) %></td>
            <td><%= number_to_currency(item.current_price) %></td>
            </tr>
        <% end %>
        </table>
    <% end %>
<% end %>
