<!-- centered grid -->
<div class="row">
  <div class="small-8 large-centered columns"><br>
    <hr>
    <p> Professor Heimann's sons (twins Alex and Mark) started up the A & M Chess Store, an online chess store that sells chess supplies to schools and other educational institutions at wholesale prices. 
    Alex and Mark have placed in many competitions and developed a love for chess from their father, who is a professor at Carnegie Mellon University and enjoys creating projects for his 67-272 students based on the entrepreneurial interests of his sons.
    </p>
    <hr><br>
    <%=image_tag("alexmark.jpg")%>
  </div>
</div>