<div class="row">

  <div class="small-8 large-centered columns">
<div class="container">

<fieldset>
  <form action="">
    <h4> Contact Us! </h4>
    <p>You can also reach us at 412-447-8676 (if the form does not work for some mysterious reason...).</p>
     <br>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>

</fieldset>
</div>

</div>
</div>