<!-- center grid -->
<div class="row">
    <div class="small-8 large-centered columns">
        <br> <h3 class="center-title">Editing <%= @item.name %></h3>
        <%= render 'form' %>
        <%= link_to 'Back', items_path %>
    </div>
</div>