<div class="row">

  <div class="small-8 large-centered columns">

<table>
	<tr valign="top">
		<br>
		<%= render partial: "item_data" %>		
	
		<% unless @price_history.empty? %>
		  <%= render partial: "price_history" %>
		<% end %>

        <%= render partial: "similar_items" %>
	</tr>
</table>

</div>

</div>
