<table>
	<tr valign="top">
        <%= flash[:notice] %>			
		<%= render partial: "item_data" %>		
	
		<% unless @price_history.empty? %>
		  <%= render partial: "price_history" %>
		<% end %>

        <%= render partial: "similar_items" %>
	</tr>
</table>
