/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides

 *= require foundation_and_overrides
 */

 .tl_name {
  width: 225px;
  display: block;
  position: absolute;
}

.tl_date {
  width: 65px;
  display: block;
  position: absolute;
  margin-left: 250px;
}

.tl_controls {
  width:  68px;
  display: block;
  margin-left: 330px;
}

.project_item {
  background-color: #d1ecfb;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid blue;
  margin-top: 5px;
  margin-bottom: 10px;
}

.supertiny {
  font-size:5px;
  text-decoration:none;
}

.add_link {
  font-size:75%;
  font-style: normal;
  font-weight: normal;
}

#title_area {
  background-color: #ffffff;
}

#main_content {
  margin-top: 10px;
}

#footer {
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color:#ffffff;
  color: #6493ba;
  text-align: center;
}

#footer a {
  color: #7f9eb8;
  text-decoration: none;
}

#footer a:hover {
  color: #7f9eb8;
  text-decoration: underline;
}

#copy {
  font-size: 85%;
}

table {
  border-collapse:collapse;
}

table th.centered, table td.centered {
    text-align: center;
}

.note {
  font-style: italic;
  font-size: 80%;
}
li.well {
  list-style-type: none;
  margin-left: -10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  border-left-width: 1px;
}

label {
  padding-right: 4px;
}


/* Home page */

.center-title {
  text-align: center;
}

.center-datagrid {
  margin-left: auto;
  margin-right: auto;
}

/* Form */

/* Navigation bar */

$header-bg: url("chess.jpg");
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -17px;
    background: rgba(0, 0, 0, 0.7);
    width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Actual navbar */

/*SCSS*/
.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);
  
  .headline {
    color: #ffe;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;

  li {
    float: none;
    display: inline-block;
    width: 115px;

    a {
      font-size: $subnav-font-size;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;

      &.is-active {
        background: rgba(0, 0, 0, 0.3);
      }

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
        
    }
  }
}
/*CSS*/
.header {
  text-align: center;
  background-image:$header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header .headline {
    color: #ffe;
 }

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem;
      font-size: 0.75rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav li a.is-active {
        background: rgba(0, 0, 0, 0.3) }
      .header-subnav li a:hover {
        background: rgba(0, 0, 0, 0.3);
        transition: all 0.35s ease-in-out; }